
/* PRIMARY START */
[data-primary="color_1"] {
    --primary: #F93A0B;
	--rgba-primary-1 : #f93a0b1a;
	--rgba-primary-2 : #f93a0b33;
	--rgba-primary-3 :#f93a0b4d;
    --rgba-primary-5: #f93a0b80;
    --rgba-primary-8 : #f93a0bcc;
	--primary-hover: #cc2c05;
    --primary-dark: #681703;
}
[data-primary="color_2"] {
    --primary: #6610f2;
    --rgba-primary-1 :#6610f21a;
    --rgba-primary-2 :#6610f233;
    --rgba-primary-3 :#6610f24d;
    --rgba-primary-5: #6610f280;
    --rgba-primary-8 : #6610f2cc;
    --primary-hover: #510bc4;
    --primary-dark: #290564;
}
[data-primary="color_3"] {
    --primary: #F93A0B;
    --rgba-primary-1 :#f93a0b1a;
    --rgba-primary-2 :#f93a0b33;
    --rgba-primary-3 :#f93a0b4d;
    --rgba-primary-5: #f93a0b80;
    --rgba-primary-8 : #f93a0bcc;
    --primary-hover: #cc2c05;
    --primary-dark: #681703;
}
[data-primary="color_4"] {
    --primary: #4d06a5;
    --rgba-primary-1 :#4d06a51a;
    --rgba-primary-2 :#4d06a533;
    --rgba-primary-3 :#4d06a54d;
    --rgba-primary-5: #4d06a580;
    --rgba-primary-8 : #4d06a5cc;
    --primary-hover: #360474;
    --primary-dark: #080111;
}
[data-primary="color_5"] {
    --primary: #dc3545;
    --rgba-primary-1 :#dc35451a;
    --rgba-primary-2 :#dc354533;
    --rgba-primary-3 :#dc35454d;
    --rgba-primary-5: #dc354580;
    --rgba-primary-8 : #dc3545cc;
    --primary-hover: #bd2130;
    --primary-dark: #66121a;
}
[data-primary="color_6"] {
    --primary: #fd7e14;
    --rgba-primary-1 :#fd7e141a;
    --rgba-primary-2 :#fd7e1433;
    --rgba-primary-3 :#fd7e144d;
    --rgba-primary-5: #fd7e1480;
    --rgba-primary-8 : #fd7e14cc;
    --primary-hover: #dc6502;
    --primary-dark: #773701;
}
[data-primary="color_7"] {
    --primary: #ffc107;
    --rgba-primary-1 :#ffc1071a;
    --rgba-primary-2 :#ffc10733;
    --rgba-primary-3 :#ffc1074d;
    --rgba-primary-5: #ffc10780;
    --rgba-primary-8 : #ffc107cc;
    --primary-hover: #d39e00;
    --primary-dark: #6d5200;
}
[data-primary="color_9"] {
    --primary: #20c997;
    --rgba-primary-1 :#20c9971a;
    --rgba-primary-2 :#20c99733 ;
    --rgba-primary-3 :#20c9974d;
    --rgba-primary-5: #20c99780;
    --rgba-primary-8 : #20c997cc;
    --primary-hover: #199d76;
    --primary-dark: #0b4534;
}
[data-primary="color_10"] {
    --primary: #17a2b8;
    --rgba-primary-1 :#17a2b81a;
    --rgba-primary-2 :#17a2b833;
    --rgba-primary-3 :#17a2b84d;
    --rgba-primary-5: #17a2b880;
    --rgba-primary-8 : #17a2b8cc;
    --primary-hover: #117a8b;
    --primary-dark: #062a30;
}
[data-primary="color_11"] {
    --primary: #94618E;
    --rgba-primary-1 :#94618e1a;
    --rgba-primary-2 :#94618e33;
    --rgba-primary-3 :#94618e4d;
    --rgba-primary-5: #94618e80;
    --rgba-primary-8 : #94618ecc;
    --primary-hover: #754d70;
    --primary-dark: #382435;
}
[data-primary="color_12"] {
    --primary: #343a40;
    --rgba-primary-1 :#343a401a;
    --rgba-primary-2 :#343a4033;
    --rgba-primary-3 :#343a404d;
    --rgba-primary-5: #343a4080;
    --rgba-primary-8 : #343a40cc;
    --primary-hover: #1d2124;
    --primary-dark: black;
}
[data-primary="color_13"] {
    --primary: #2a2a2a;
    --rgba-primary-1 :#2a2a2a1a;
    --rgba-primary-2 :#2a2a2a33;
    --rgba-primary-3 :#2a2a2a4d;
    --rgba-primary-5: #2a2a2a80;
    --rgba-primary-8 : #2a2a2acc;
    --primary-hover: #111111;
    --primary-dark: black;
}
[data-primary="color_14"] {
    --primary: #4885ed;
    --rgba-primary-1 :#4885ed1a;
    --rgba-primary-2 :#4885ed33;
    --rgba-primary-3 :#4885ed4d;
    --rgba-primary-5: #4885ed80;
    --rgba-primary-8 : #4885edcc;
    --primary-hover: #1a66e8;
    --primary-dark: #0e3d8e;
}
[data-primary="color_15"] {
    --primary: #4cb32b;
    --rgba-primary-1 :#4cb32b1a;
    --rgba-primary-2 :#4cb32b33;
    --rgba-primary-3 :#4cb32b4d;
    --rgba-primary-5: #4cb32b80;
    --rgba-primary-8 : #4cb32bcc;
    --primary-hover: #3b8a21;
    --primary-dark: #18380d;
}
/* PRIMARY END */
/* NAV HEADER START */
[data-nav-headerbg="color_1"] {
    --nav-headbg: #fff;
}
[data-nav-headerbg="color_2"][data-theme-version="dark"], [data-nav-headerbg="color_2"] {
    --nav-headbg: #6610f2; }
[data-nav-headerbg="color_3"][data-theme-version="dark"], [data-nav-headerbg="color_3"] {
    --nav-headbg: #F93A0B; }
[data-nav-headerbg="color_4"][data-theme-version="dark"], [data-nav-headerbg="color_4"] {
    --nav-headbg: #4d06a5; }
[data-nav-headerbg="color_5"][data-theme-version="dark"], [data-nav-headerbg="color_5"] {
    --nav-headbg: #dc3545; }
[data-nav-headerbg="color_6"][data-theme-version="dark"], [data-nav-headerbg="color_6"] {
    --nav-headbg: #fd7e14; }
[data-nav-headerbg="color_7"][data-theme-version="dark"], [data-nav-headerbg="color_7"] {
    --nav-headbg: #ffc107; }
[data-nav-headerbg="color_8"][data-theme-version="dark"], [data-nav-headerbg="color_8"] {
    --nav-headbg: #fff; }
[data-nav-headerbg="color_9"][data-theme-version="dark"], [data-nav-headerbg="color_9"] {
    --nav-headbg: #20c997; }
[data-nav-headerbg="color_10"][data-theme-version="dark"], [data-nav-headerbg="color_10"] {
    --nav-headbg: #17a2b8; }
[data-nav-headerbg="color_11"][data-theme-version="dark"], [data-nav-headerbg="color_11"] {
    --nav-headbg: #94618E; }
[data-nav-headerbg="color_12"][data-theme-version="dark"], [data-nav-headerbg="color_12"] {
    --nav-headbg: #343a40; }
[data-nav-headerbg="color_13"][data-theme-version="dark"], [data-nav-headerbg="color_13"] {
    --nav-headbg: #2a2a2a; }
[data-nav-headerbg="color_14"][data-theme-version="dark"], [data-nav-headerbg="color_14"] {
    --nav-headbg: #4885ed; }
[data-nav-headerbg="color_15"][data-theme-version="dark"], [data-nav-headerbg="color_15"] {
    --nav-headbg: #4cb32b; }
[data-nav-headerbg="color_2"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_2"] .nav-header .logo-abbr path {
    fill: #6610f2;
    stroke: #6610f2;}
[data-nav-headerbg="color_3"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_3"] .nav-header .logo-abbr path {
    fill: #F93A0B;
    stroke: #F93A0B;}
[data-nav-headerbg="color_4"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_4"] .nav-header .logo-abbr path {
    fill: #4d06a5;
    stroke: #4d06a5;}
[data-nav-headerbg="color_5"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_5"] .nav-header .logo-abbr path {
    fill: #dc3545;
    stroke: #dc3545;}
[data-nav-headerbg="color_6"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_6"] .nav-header .logo-abbr path {
    fill: #fd7e14;
    stroke: #fd7e14;}
[data-nav-headerbg="color_7"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_7"] .nav-header .logo-abbr path {
    fill: #ffc107;
    stroke: #ffc107;}
[data-nav-headerbg="color_9"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_9"] .nav-header .logo-abbr path {
    fill: #20c997;
    stroke: #20c997;}
[data-nav-headerbg="color_10"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_10"] .nav-header .logo-abbr path {
    fill: #17a2b8;
    stroke: #17a2b8;}
[data-nav-headerbg="color_11"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_11"] .nav-header .logo-abbr path {
    fill: #94618E;
    stroke: #94618E;}
[data-nav-headerbg="color_12"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_12"] .nav-header .logo-abbr path {
    fill: #343a40;
    stroke: #343a40;}
[data-nav-headerbg="color_13"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_13"] .nav-header .logo-abbr path {
    fill: #2a2a2a;
    stroke: #2a2a2a;}
[data-nav-headerbg="color_14"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_14"] .nav-header .logo-abbr path {
    fill: #4885ed;
    stroke: #4885ed;}
[data-nav-headerbg="color_15"][data-theme-version="dark"] .nav-header .logo-abbr path, [data-nav-headerbg="color_15"] .nav-header .logo-abbr path {
    fill: #4cb32b;
    stroke: #4cb32b;}
[data-nav-headerbg="color_1"] .nav-header .brand-logo .logo-abbr path.react-w, 
[data-nav-headerbg="color_1"] .nav-header .brand-logo .logo-abbr path.w3,
[data-nav-headerbg="color_4"] .nav-header .brand-logo .logo-abbr path.w3,
[data-nav-headerbg="color_12"] .nav-header .brand-logo .logo-abbr path.w3{
    fill: var(--primary);
}
[data-nav-headerbg="color_1"] .nav-header .brand-logo .brand-title path {
    fill: #464646;
}
[data-nav-headerbg="color_1"] .nav-header .brand-logo .brand-title tspan {
    fill: #787878;
}
[data-nav-headerbg="color_8"] .nav-header .brand-logo .brand-title path ,
[data-nav-headerbg="color_8"] .nav-header .brand-logo .brand-title tspan {
    fill: #000;
}
[data-nav-headerbg="color_1"] .nav-header .rect-primary-rect,
[data-nav-headerbg="color_8"] .nav-header .rect-primary-rect{
    fill: var(--primary);
}
/* NAV HEADER END */
/* HEADER START */
[data-headerbg="color_8"] {
    --headerbg: #FFFFFF;
    --placeholder: #000 !important;
    --navlink-btn: #737B8B;
}
[data-headerbg="color_1"] {
    --headerbg: #FFFFFF;
    --placeholder: #888888;
    --navlink-btn: #737B8B;
}
[data-headerbg="color_8"] .search-area .form-control,
[data-headerbg="color_8"] .search-area .input-group-text {
    background-color: #F1F1F1;
    color: #000;
}
[data-headerbg="color_1"] .search-area .form-control,
[data-headerbg="color_1"] .search-area .input-group-text {
    background-color: var(--body-bg);
    color: #888888;
}
[data-headerbg="color_8"][data-theme-version="dark"] .hamburger .line {
    background: #000;
}
[data-headerbg="color_8"] .hamburger .line ,
[data-headerbg="color_1"] .hamburger .line {
    background: var(--text-gray);
}
[data-headerbg="color_8"] .header-right .header-profile > a.nav-link .header-info span,
[data-headerbg="color_1"] .header-right .header-profile > a.nav-link .header-info span {
    color: var(--text-dark);
}
[data-headerbg="color_8"] .header-right .header-profile > a.nav-link .header-info p,
[data-headerbg="color_1"] .header-right .header-profile > a.nav-link .header-info p {
    color: var(--text);
}
[data-headerbg="color_8"] .header .navbar-nav .header-info2 .header-info h6,
[data-headerbg="color_8"] .header .navbar-nav .header-info2 .header-info p,
[data-headerbg="color_1"] .header .navbar-nav .header-info2 .header-info h6,
[data-headerbg="color_1"] .header .navbar-nav .header-info2 .header-info p{
	color : #2C2C2C!important;
}
/*  */
[data-headerbg="color_1"] .header-left .dashboard_bar {
    color: var(--text-dark);
}
[data-headerbg="color_8"] .header-left .dashboard_bar {
    color: #000;
}
[data-headerbg="color_8"] .header-right .notification_dropdown .nav-link .badge,
[data-headerbg="color_1"] .header-right .notification_dropdown .nav-link .badge{
    color: white;
    background-color: var(--primary);
}
[data-headerbg="color_2"] .header-right .notification_dropdown .nav-link .badge{
    color: #6610f2;
}
[data-headerbg="color_3"] .header-right .notification_dropdown .nav-link .badge{
    color: #F93A0B;
}
[data-headerbg="color_4"] .header-right .notification_dropdown .nav-link .badge{
    color: #4d06a5;
}
[data-headerbg="color_5"] .header-right .notification_dropdown .nav-link .badge{
    color: #dc3545;
}
[data-headerbg="color_6"] .header-right .notification_dropdown .nav-link .badge{
    color: #fd7e14;
}
[data-headerbg="color_7"] .header-right .notification_dropdown .nav-link .badge{
    color: #ffc107;
}
[data-headerbg="color_9"] .header-right .notification_dropdown .nav-link .badge{
    color: #20c997;
}
[data-headerbg="color_10"] .header-right .notification_dropdown .nav-link .badge{
    color: #17a2b8;
}
[data-headerbg="color_11"] .header-right .notification_dropdown .nav-link .badge{
    color: #94618E;
}
[data-headerbg="color_12"] .header-right .notification_dropdown .nav-link .badge{
    color: #343a40;
}
[data-headerbg="color_13"] .header-right .notification_dropdown .nav-link .badge{
    color: #2a2a2a;
}
[data-headerbg="color_14"] .header-right .notification_dropdown .nav-link .badge{
    color: #4885ed;
}
[data-headerbg="color_15"] .header-right .notification_dropdown .nav-link .badge{
    color: #4cb32b;
}
/*  */
[data-headerbg="color_2"][data-theme-version="dark"], [data-headerbg="color_2"] {
    --headerbg: #6610f2;
}
[data-headerbg="color_3"][data-theme-version="dark"], [data-headerbg="color_3"] {
    --headerbg: #F93A0B;
}
[data-headerbg="color_4"][data-theme-version="dark"], [data-headerbg="color_4"] {
    --headerbg: #4d06a5;
}
[data-headerbg="color_5"][data-theme-version="dark"], [data-headerbg="color_5"] {
    --headerbg: #dc3545;
}
[data-headerbg="color_6"][data-theme-version="dark"], [data-headerbg="color_6"] {
    --headerbg: #fd7e14;
}
[data-headerbg="color_7"][data-theme-version="dark"], [data-headerbg="color_7"] {
    --headerbg: #ffc107;
}
[data-headerbg="color_8"][data-theme-version="dark"], [data-headerbg="color_8"] {
    --headerbg: #fff; 
}
[data-headerbg="color_9"][data-theme-version="dark"], [data-headerbg="color_9"] {
    --headerbg: #20c997;
}
[data-headerbg="color_10"][data-theme-version="dark"], [data-headerbg="color_10"] {
    --headerbg: #17a2b8;
}
[data-headerbg="color_11"][data-theme-version="dark"], [data-headerbg="color_11"] {
    --headerbg: #94618E;
}
[data-headerbg="color_12"][data-theme-version="dark"], [data-headerbg="color_12"] {
    --headerbg: #343a40;
}
[data-headerbg="color_13"][data-theme-version="dark"], [data-headerbg="color_13"] {
    --headerbg: #2a2a2a;
}
[data-headerbg="color_14"][data-theme-version="dark"], [data-headerbg="color_14"] {
    --headerbg: #4885ed;
}
[data-headerbg="color_15"][data-theme-version="dark"], [data-headerbg="color_15"] {
    --headerbg: #4cb32b;
}
/* HEADER END */
/* SIDEBAR START */
/* data-sidebar color-1 */
[data-sidebarbg="color_1"] .dlabnav .header-info2 span{
    color: var(--text-dark);
}
[data-sidebarbg="color_1"] .dlabnav .metismenu ul a:hover, 
[data-sidebarbg="color_1"] .dlabnav .metismenu ul a:focus, 
[data-sidebarbg="color_1"] .dlabnav .metismenu ul a.mm-active {
    color: var(--primary);
}
[data-sidebarbg="color_1"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a , 
[data-sidebarbg="color_1"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .dlabnav .metismenu > li:hover > a {
    background-color: var(--rgba-primary-1);
}
[data-sidebarbg="color_1"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a i, 
[data-sidebarbg="color_1"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .dlabnav .metismenu > li:hover > a i {
    color: var(--primary);
}
[data-sidebarbg="color_1"] .dlabnav .metismenu > li.mm-active > a {
    color: var(--primary);
    background: var(--rgba-primary-1);
}
[data-sidebarbg="color_1"][data-layout="horizontal"] .dlabnav .metismenu > li:hover > a:after{
    border-top: 0.3125rem solid var(--primary);
    border-left: 0.3125rem solid var(--primary);
}
[data-sidebarbg="color_1"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li > a:before {
    background: var(--primary);
}
[data-sidebarbg="color_1"][data-theme-version="dark"] .dlabnav .metismenu a {
    color: #b3b3b3;
}
[data-sidebarbg="color_1"] .dlabnav .metismenu > li > a i {
    color: #96A0AF;
}
[data-sidebarbg="color_1"] .dlabnav .metismenu .has-arrow:after {
    border-top: 0.3125rem solid #C8C8C8;
    border-left: 0.3125rem solid #C8C8C8;
    border-bottom: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
}
[data-sidebarbg="color_1"] .dlabnav .metismenu li a:hover,
[data-sidebarbg="color_1"] [data-theme-version="dark"] .dlabnav .metismenu li a:hover {
	color: var(--primary);
}
[data-sidebarbg="color_1"] .dlabnav .header-info2 
{
    background-color: var(--body-bg);
}
[data-sidebarbg="color_1"] .copyright strong ,
[data-sidebarbg="color_1"] .dlabnav .metismenu ul a,
[data-sidebarbg="color_1"] .dlabnav .metismenu > li > a 
{
    color: var(--text-gray);
}
[data-sidebarbg="color_1"] .plus-box {
    background: #145650;
}
[data-sidebarbg="color_1"][data-layout="horizontal"] .dlabnav .metismenu > li.mm-active > a:after{
    border-left-color: var(--primary);
    border-top-color: var(--primary);
}
[data-sidebarbg="color_1"] .dlabnav .metismenu > li.mm-active > a:after {
    border-top: 0.3125rem solid var(--primary);
    border-left: 0.3125rem solid var(--primary);
}
/* data-sidebar color-8 */
[data-sidebarbg="color_8"] .dlabnav .header-info2 {
    background-color: #0000000d;
}
[data-sidebarbg="color_8"] .dlabnav .header-info2 span{
    color: #00000099;
}
[data-sidebarbg="color_8"] .dlabnav .metismenu > li > a i ,
[data-sidebarbg="color_8"] .dlabnav .metismenu > li > a ,
[data-sidebarbg="color_8"] .dlabnav .metismenu ul a,
[data-sidebarbg="color_8"] .dlabnav .metismenu a{
    color: #00000099 !important;
}
[data-sidebarbg="color_8"] .dlabnav .metismenu .has-arrow:after {
    border-top: 0.3125rem solid rgba(0, 0, 0, 0.5);
    border-left: 0.3125rem solid rgba(0, 0, 0, 0.5);
}
[data-sidebarbg="color_1"] .dlabnav .header-info2 small,
[data-sidebarbg="color_8"] .dlabnav .header-info2 small,
[data-sidebarbg="color_1"] .dlabnav .header-info2 i,
[data-sidebarbg="color_8"] .dlabnav .header-info2 i {
    color: var(--text);
}
[data-sidebarbg="color_8"] .copyright strong {
    color: #b3b3b3;
}
[data-sidebarbg="color_8"] .dlabnav .metismenu ul a:hover, 
[data-sidebarbg="color_8"] .dlabnav .metismenu ul a:focus, 
[data-sidebarbg="color_8"] .dlabnav .metismenu ul a.mm-active {
    color: #000;
}
[data-sidebarbg="color_8"] .plus-box {
    background: #00000066;
}
[data-sidebarbg="color_8"] .copyright p ,
[data-sidebarbg="color_1"] .copyright p {
    color: #9fa4a6;
}
[data-sidebarbg="color_8"] .dlabnav .metismenu > li.mm-active > a {
    color: #00000099;
    background: #0000001a;
}
[data-sidebarbg="color_8"] .dlabnav .metismenu > li.mm-active > a:after {
    border-top: 0.3125rem solid #00000099;
    border-left: 0.3125rem solid #00000099;
}
[data-sidebarbg="color_8"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li > a:before {
    background: #00000099;
}
[data-sidebarbg="color_8"][data-layout="horizontal"] .dlabnav .metismenu > li.mm-active > a:after,
[data-sidebarbg="color_8"][data-layout="horizontal"] .dlabnav .metismenu > li:hover > a:after,
[data-sidebarbg="color_8"][data-layout="horizontal"] .dlabnav .metismenu > li.mm-active > a:after {
    border-top: 0.3125rem solid rgba(0, 0, 0, 0.5);
    border-left: 0.3125rem solid rgba(0, 0, 0, 0.5);
}
[data-sidebarbg="color_8"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu ul a:before ,
[data-sidebarbg="color_1"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu ul a:before {
    background: var(--rgba-primary-5);
}
[data-sidebarbg="color_8"] .dlabnav .metismenu li a:hover,
[data-sidebarbg="color_8"] [data-theme-version="dark"] .dlabnav .metismenu li a:hover {
    color: #000;
}
[data-sidebarbg="color_8"] .dlabnav .metismenu > li.mm-active > a .menu-icon svg path,
[data-sidebarbg="color_1"] .dlabnav .metismenu > li.mm-active > a .menu-icon svg path,
[data-sidebarbg="color_4"] .dlabnav .metismenu > li.mm-active > a .menu-icon svg path{
    stroke:var(--primary);
}
[data-sidebarbg="color_8"][data-theme-version="dark"] .dlabnav .menu-icon svg path, 
[data-sidebarbg="color_8"][data-theme-version="dark"] .dlabnav .menu-icon svg ellipse, 
[data-sidebarbg="color_8"] .dlabnav .menu-icon svg path, 
[data-sidebarbg="color_8"] .dlabnav .menu-icon svg ellipse,
[data-sidebarbg="color_1"][data-theme-version="dark"] .dlabnav .menu-icon svg path, 
[data-sidebarbg="color_1"][data-theme-version="dark"] .dlabnav .menu-icon svg ellipse, 
[data-sidebarbg="color_1"] .dlabnav .menu-icon svg path, 
[data-sidebarbg="color_1"] .dlabnav .menu-icon svg ellipse{
    stroke :#888888; 
}
[data-sidebarbg="color_8"][data-theme-version="dark"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a i ,
[data-sidebarbg="color_8"][data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a i, 
[data-sidebarbg="color_8"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .dlabnav .metismenu > li:hover > a i {
    color: #00000099;
}
[data-sidebarbg="color_2"][data-theme-version="dark"], [data-sidebarbg="color_2"] {
    --sidebar-bg: #6610f2;
}
[data-sidebarbg="color_3"][data-theme-version="dark"], [data-sidebarbg="color_3"] {
    --sidebar-bg: #F93A0B;
}
[data-sidebarbg="color_4"][data-theme-version="dark"], [data-sidebarbg="color_4"] {
    --sidebar-bg: #4d06a5;
}
[data-sidebarbg="color_5"][data-theme-version="dark"], [data-sidebarbg="color_5"] {
    --sidebar-bg: #dc3545;
}
[data-sidebarbg="color_6"][data-theme-version="dark"], [data-sidebarbg="color_6"] {
    --sidebar-bg: #fd7e14;
}
[data-sidebarbg="color_7"][data-theme-version="dark"], [data-sidebarbg="color_7"] {
    --sidebar-bg: #ffc107;
}
[data-sidebarbg="color_8"][data-theme-version="dark"], [data-sidebarbg="color_8"] {
    --sidebar-bg: #fff;
}
[data-sidebarbg="color_9"][data-theme-version="dark"], [data-sidebarbg="color_9"] {
    --sidebar-bg: #20c997;
}
[data-sidebarbg="color_10"][data-theme-version="dark"], [data-sidebarbg="color_10"] {
    --sidebar-bg: #17a2b8;
}
[data-sidebarbg="color_11"][data-theme-version="dark"], [data-sidebarbg="color_11"] {
    --sidebar-bg: #94618E;
}
[data-sidebarbg="color_12"][data-theme-version="dark"], [data-sidebarbg="color_12"] {
    --sidebar-bg: #343a40;
}
[data-sidebarbg="color_13"][data-theme-version="dark"], [data-sidebarbg="color_13"] {
    --sidebar-bg: #2a2a2a;
}
[data-sidebarbg="color_14"][data-theme-version="dark"], [data-sidebarbg="color_14"] {
    --sidebar-bg: #4885ed;
}
[data-sidebarbg="color_15"][data-theme-version="dark"], [data-sidebarbg="color_15"] {
    --sidebar-bg: #4cb32b;
}
/* SIDEBAR END */
[data-sidebarbg="color_1"][data-layout="vertical"][data-sidebar-style="compact"] .dlabnav .metismenu > li > a > i {
    background: var(--body-bg);
}
[data-sidebarbg="color_1"][data-sidebar-style="compact"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a i,
[data-sidebarbg="color_1"][data-layout="horizontal"] .dlabnav .metismenu > li:hover > a,
[data-sidebarbg="color_1"][data-layout="horizontal"] .dlabnav .metismenu > li.mm-active > a ,
[data-sidebarbg="color_1"][data-sidebar-style="compact"][data-layout="vertical"] .dlabnav .metismenu li:hover > a i {
    background: var(--rgba-primary-1);
    color: var(--primary);
}
[data-sidebarbg="color_8"][data-sidebar-style="compact"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a i,
[data-sidebarbg="color_8"][data-layout="horizontal"] .dlabnav .metismenu > li:hover > a,
[data-sidebarbg="color_8"][data-layout="horizontal"] .dlabnav .metismenu > li.mm-active > a ,
[data-sidebarbg="color_8"][data-sidebar-style="compact"][data-layout="vertical"] .dlabnav .metismenu li:hover > a i {
    background: var(--rgba-primary-1);
    color: rgba(0, 0, 0, 0.6);
}
[data-sidebarbg="color_1"][data-sidebar-style="mini"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a,
[data-sidebarbg="color_1"][data-sidebar-style="mini"] .dlabnav .metismenu > li:hover > a,
[data-sidebarbg="color_8"][data-sidebar-style="mini"] .dlabnav .metismenu > li:hover > a{
    background: var(--rgba-primary-1);
}
[data-sidebarbg="color_8"][data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
[data-sidebarbg="color_1"][data-sidebar-style="compact"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active .nav-text {
    color: var(--primary);
}
[data-sidebarbg="color_1"][data-sidebar-style="mini"] .dlabnav .metismenu > li:hover > a,
[data-sidebarbg="color_1"][data-sidebar-style="mini"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a {
    color: #00000099;
}
[data-sidebarbg="color_1"][data-sidebar-style="mini"] .dlabnav .metismenu > li:hover > a i,
[data-sidebarbg="color_1"][data-sidebar-style="mini"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a i {
    color: var(--primary);
}
[data-sidebarbg="color_1"][data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li:hover > a > a, 
[data-sidebarbg="color_1"][data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a{
    background-color: var(--rgba-primary-1);
	color: var(--primary);
}