
/* HEADER */
[direction="rtl"] .header {
    padding-right: 16.5rem;
    padding-left: 0;
}
[direction="rtl"] .header .header-content {
    padding-right: 5rem;
    padding-left: 1.875rem;
}
[direction="rtl"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .header {
    padding-left: 0;
    padding-right: 6rem;
}
[direction="rtl"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .header .header-content {
    padding-right: 5rem;
    padding-left: 1.875rem;
}
[direction="rtl"][data-sidebar-style="compact"] .header {
    padding-right: 10rem;
}
[direction="rtl"][data-sidebar-style="compact"] .header .header-content {
    padding-right: 2rem;
}
[direction="rtl"][data-sidebar-style="icon-hover"][data-layout="vertical"] .header {
    padding-left: 0;
    padding-right: 5.5rem;
}
@media (min-width: 47.9375rem){
    [direction="rtl"][data-sidebar-style="icon-hover"][data-layout="vertical"] .header .header-content {
        padding-right: 2rem;
    }
    [direction="rtl"][data-sidebar-style="modern"][data-layout="vertical"] .header {
        padding-left: 0;
        padding-right: 8.5rem;
    }
    [direction="rtl"][data-sidebar-style="modern"][data-layout="horizontal"] .header {
        padding-left: 0;    
        padding-right: 17.5rem;    
    }
}
@media only screen and (min-width: 48rem){
    [direction="rtl"][data-sidebar-style="mini"] .header {
        padding-right: 6rem;
        padding-left: 0;
    }
    [direction="rtl"][data-sidebar-style="mini"] .header .header-content {
        padding-right: 1.875rem;
    }
}
@media only screen and (max-width: 87.5rem) { 
    
    [direction="rtl"][data-sidebar-style="full"] .header, 
	[direction="rtl"][data-sidebar-style="overlay"] .header {
		padding-left: 0;
		padding-right: 17rem;
    }
}
@media only screen and (max-width: 63.9375rem) {
    
    [direction="rtl"][data-sidebar-style="full"] .header, 
	[direction="rtl"][data-sidebar-style="overlay"] .header {
		padding-right: 4rem;
		padding-left: 0;
    }
}
@media only screen and (max-width: 35.9375rem) {
    [direction="rtl"] .header .header-content {
        padding-left: 0.538rem;
        padding-right: 3.75rem;
    }
}