
[direction="rtl"] .footer {
    padding-left: 0;
    padding-right: 15rem;
}
@media only screen and (max-width: 61.9375rem) {
    [direction="rtl"] .footer {
        padding-left: 0;
        padding-right: 3.8rem;
    }
}
@media (max-width: 47.9375rem) {
    [direction="rtl"] .footer {
        padding-left: 0;
        padding-right: 0;
    }
}