
/* NAV HEADER */
[direction="rtl"] .nav-control,
[direction="rtl"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .nav-control {
    right: auto;
    left: -4rem;
}
[direction="rtl"] .nav-header .brand-title {
    margin-right: 15px;
    margin-left: 0;
}
[direction="rtl"] .hamburger .line {
    margin-right: 0;
    margin-left: auto;
}
[direction="rtl"] .nav-header .brand-title {
    direction: ltr;
}
[direction="rtl"] .hamburger.is-active .line:nth-child(1) {
    transform: translateY(4px) translateX(-12px) rotate(-45deg);
}
[direction="rtl"] .hamburger.is-active .line:nth-child(3) {
    transform: translateY(-4px) translateX(-12px) rotate(45deg);
}
@media (max-width: 35.9375rem) {
    [direction="rtl"] .nav-control {
        left: -3rem;
    }
}