
.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--rgba-primary-1);
    font-size: .85rem;
    color: var(--primary);
    padding: 5px 0;
    padding-right: 8px;
    padding-left: 32px;
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove, .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    height: 100%;
    padding: 0 6px 0 8px;
    font-size: 18px;
    font-weight: 500;
    border-right: 1px solid;
    border-color: #fff;
    color: var(--primary);
    position: absolute;
    right: auto;
    left: 0;
    top: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    display: block;
    color: var(--primary);
    font-size: 13px;
    width: 100%;
    padding-left: 2px;
    padding-right: 5px;
}