input,
textarea {
    background-color: var(--card);
    color: var(--text);
}
.form-check-input:active {
    filter: brightness(90%);
}
.form-check-input[type="checkbox"] {
    border-radius: 0.25em;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    --bs-border-color: #EEEEEE;
    margin-top: 0.25em;
    vertical-align: top;
    appearance: none;
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid var(--bs-border-color);
}
.form-check-input {
    top: 0.125rem;
    border-width: 0.125rem;
    width: 1.25rem;
    height: 1.25rem;
    border-color: var(--border);
    background-color: var(--body-bg);
}
.form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-control-sm {
    min-height: 2.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    border-radius: 0.5rem;
    height: calc(1.5em + 0.5rem + 2px);
}
.tagify.form-control{
    display: block;
    width: 100%;
}
.form-control {
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
}
.checkbox-info .form-check-input:checked {
    background-color: #461EE7;
    border-color: #461EE7;
}
.checkbox-info .form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(70, 30, 231, 0.25);
}
.checkbox-warning .form-check-input:checked {
    background-color: #FF9F00;
    border-color: #FF9F00 !important;
}
.checkbox-warning .form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(254, 128, 36, 0.25);
}
.checkbox-danger .form-check-input:checked {
    background-color: #FF5E5E;
    border-color: #FF5E5E !important;
}
.checkbox-danger .form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(255, 46, 46, 0.25);
}
.checkbox-success .form-check-input:checked {
    background-color: #3AC977;
    border-color: #3AC977 !important;
}
.checkbox-success .form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(43, 193, 85, 0.25);
}
.checkbox-secondary .form-check-input:checked {
    background-color: var(--secondary);
    border-color: var(--secondary) !important;
}
.checkbox-secondary .form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(172, 57, 212, 0.25);
}
.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: #fff !important;
}
.form-check-input:checked[type="radio"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}
.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(30, 170, 231, 0.25);
}
.form-check-input[type="radio"] {
    border-radius: 50%;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--rgba-primary-5);
}
.btn-outline-primary:hover svg path {
    stroke: #fff;
    transition: all 0.5s;
}
.show-pass .fa-eye {
    display: none;
}
.show-pass.active .fa-eye {
    display: inline-block;
}
.show-pass.active .fa-eye-slash {
    display: none;
}
.was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip, .is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip {
    display: block !important;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: var(--danger) !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FF5E5E'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FF5E5E' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:valid, .form-control.is-valid {
    border-color: var(--success) !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%233AC977' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

[data-theme-version="dark"] input[type="date"]::-webkit-calendar-picker-indicator ,  
[data-theme-version="dark"] input[type="time"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1);
}

/* For Firefox */
[data-theme-version="dark"] input[type="date"]::-moz-time-text ,  
[data-theme-version="dark"] input[type="time"]::-moz-time-text {
  filter: brightness(0) invert(1);
}
.form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
