.asColorPicker-clear {
    display: none;
    position: absolute;
    right: 1rem;
    text-decoration: none;
    top: 0.5rem;
}
.example.style-1 .asColorPicker-trigger {
    position: unset;
    width: 45px;
    height: 45px;
}
.example.style-1 .asColorPicker-trigger span {
    border-radius: 0.375rem !important;
}
.asColorPicker-trigger {
    border: 0 none;
}
.asColorPicker-dropdown {
    max-width: 26rem;
    background: var(--card);
    border-color: var(--border);
}
.asColorPicker-trigger {
    border: 0 none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.1875rem;
}
.asColorPicker-trigger {
    background: none;
}
.asColorPicker-trigger span {
    border-radius: 0 0.375rem 0.375rem 0;
}
.asColorPicker-buttons a {
    color: var(--text);
}
