
.profile-back:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 1rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.57) 100%);
}
.text-youtube:after, .text-linkedin:after, .text-facebook:after, .text-dribble:after {
    --social-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    content: "";
    background-color:  var(--social-color);
    top: -7px;
    left: 22px;
    width: 1px;
    height: 31px;
}
[data-theme-version="dark"] .text-youtube:after,
[data-theme-version="dark"] .text-linkedin:after,
[data-theme-version="dark"] .text-facebook:after,
[data-theme-version="dark"] .text-dribble:after {
    --social-color: #2e2e42;
}
@media (max-width: 35.9375rem) {
    .profile-pic {
        margin-top: -6.7rem !important;
    }
    .profile-pic img {
        height: 5.688rem !important;
        width: 5.688rem !important;
        border-width: 2px !important;
        border-radius: 10px !important;
    }
}
.author-profile .upload-link {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 32px;
    background: var(--primary);
    bottom: 0;
    right: 0px;
    box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
    border-radius: 100%;
    color: #fff;
    overflow: hidden;
    border: 2px solid #fff;
}
.author-profile .upload-link .update-flie {
    position: absolute;
    opacity: 0;
    z-index: 0;
    width: 100%;
    cursor: pointer;
    left: 0;
    height: 100%;
}
.photo-content .cover-photo {
    background: url(../images/profile/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 15.625rem;
    width: 100%;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
.card-profile {
    background-image: url(../images/crm-profile.jpg);
    background-size: cover;
    background-position: center center; 
    padding: 30px;
}
.btn.tp-btn.btn-primary:hover svg path {
    fill: #fff;
}
@media only screen and (max-width: 35.9375rem) {
    .profile-card .card-header .title:after {
        bottom: -22px;
    }
}