
.login-account .account-info-area {
    height: calc(100vh - 80px);
    min-height: 600px;
}
.login-account .login-form .login-title:before, .login-account .login-form .login-title:after {
    content: "";
    height: 1px;
    flex: 1 1;
    left: 0;
    background-color: var(--body-bg);
    top: 50%;
    z-index: -1;
    margin: 0;
    padding: 0;
}
.login-account .apple:hover svg path {
    fill: #fff;
}
.login-account .account-info-area:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
}
.login-account .account-info-area .login-content h1 {
    font-size: 68px;
}
.login-account .account-info-area .login-content {
    padding: 120px 25px;
}
.login-account .account-info-area .login-content .sub-title {
    font-size: 28px;
}
@media only screen and (max-width: 1400px){
    .login-account .account-info-area .login-content .sub-title {
        font-size: 20px;
    }
    .login-account .account-info-area .login-content h1 {
        font-size: 50px;
    }
}
@media only screen and (max-width: 1320px){
    .login-account .account-info-area .login-content {
        padding: 120px 5px 120px 35px;
    }
}
@media only screen and (max-width: 1024px){
    .login-account .account-info-area{
        min-height:570px;
    }
    .login-account .account-info-area .login-content {
        padding: 120px 5px 120px 5px;
    }
    .login-account .login-form {
        padding: 0 !important;
    }
}
@media only screen and (max-width: 991px){
    .login-account .account-info-area{
        min-height:500px;
        margin-bottom: 50px;
    }
    .login-account .account-info-area .login-content {
        padding: 120px 70px 120px 0px;
    }
    .login-account .account-info-area .login-content .sub-title {
        font-size: 25px;
    }
    .login-account .account-info-area .login-content h1 {
        font-size: 45px;
    }
}
@media only screen and (max-width: 768px){
    .login-account .account-info-area{
        min-height:450px;
        height:450px;
    } 
    .login-account .account-info-area .login-content {
        padding: 120px 25px 120px 25px;
    }
    .login-account .account-info-area .login-content .sub-title {
        font-size: 20px;
    }
    .login-account .account-info-area .login-content h1 {
        font-size: 40px;
    }
}
@media only screen and (max-width: 600px){
    .login-account .account-info-area{
        min-height:400px;
        height:400px;
    } 
}
@media only screen and (max-width: 575px){
    .login-account .account-info-area{
        min-height: 350px;
        height: 350px;
        border-radius: 10px !important;
    } 
    .login-account .account-info-area .login-content {
        padding: 45px 20px;
    }
    .login-account .account-info-area .login-content .sub-title {
        font-size: 16px;
    }
    .login-account .account-info-area .login-content h1 {
        font-size: 30px;
    }
    .login-account .login-form .login-head h1 {
        font-size: 20px !important;
    }
}