/* VARIABLES */
:root {
	
	/* GLOBAL */
	--card: #fff;
    --text-dark: #312a2a;
    --dark: #000;
    --text-gray:#737B8B;
    --text: #888888;
	--body-bg: #f5f5f5;
    --light: #f5f5f5;
    --border: #e6e6e6;
    --bs-border-color: #e6e6e6;
	--bs-heading-color: #3d4465;

	/* LAYOUT */
	--nav-headbg: #FFFFFF;
    --sidebar-bg: #FFFFFF;
    --headerbg: #FFFFFF;
    --placeholder: #fff;
    --navlink-btn: #fff;

	/*  Primary Light */
	
	--primary: #F93A0B;
	--primary-hover: #cc2c05;
    --primary-dark: #681703;
    --l-opacity: #ffffff4d;
	--rgba-primary-1 : #f93a0b1a;
	--rgba-primary-2 : #f93a0b33;
	--rgba-primary-3 : #f93a0b4d;
	--rgba-primary-4 : #f93a0b66;
	--rgba-primary-5 : #f93a0b80;
	--rgba-primary-6 : #f93a0b99;
	--rgba-primary-7 : #f93a0bb3;
	--rgba-primary-8 : #f93a0bcc;
	--rgba-primary-9 : #f93a0be6;
	
	/* Secodary Light */
	
	--secondary :#145650;
	--rgba-secondary-1 :#14565026;
	--secondary-dark: #114944;

    --success: #2adb7b;
    --success-light: #2adb7b1a;
    --success-badge: #13723f;
    --warning-light: #ffa7551a;
    --warning: #FE8024;
    --info-light: #d653c11a;
    --danger: #f72b50;
    --danger-light: #f72b5026;

	
	--placeholder-color: #fff;
	--bs-dropdown-link-hover-bg: #f5f5f5;
	--bs-border-color: #EEEEEE;

    /* Modal */
    --bs-modal-width: 500px;
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;

	--ck-border-radius: 0.5rem !important;
	--dz-side-profile: block;
    
    
    /*  Solid Color */
    
    --white: #fff;
    --black: #000;


	/*  Social Colors */
	--facebook: #3b5998;
	--twitter: #1da1f2;
	--youtube: #FF0000;
	--google-plus: #db4439;
	--linkedin: #007bb6;
	--instagram: #c32aa3;
	--pinterest: #bd081c;
	--google: #4285f4;
	--snapchat: #fffc00;
	--whatsapp: #25d366;
	--tumblr: #35465d;
	--reddit: #ff4500;
	--spotify: #1ed760;
	--yahoo: #430297;
	--dribbble: #ea4c89;
	--skype: #00aff0;
	--quora: #aa2200;
	--riverBed: #4C585C;
	--vimeo: #1ab7ea;


	/* sidebar */

	--dz-sidebar-pos: absolute;
	--dz-sidebar-style: full;

	/* Font-family */
	--dz-ffont-family: 'poppins', sans-serif;

}