
[data-theme-version="dark"] h1, [data-theme-version="dark"] .h1, [data-theme-version="dark"] h2, [data-theme-version="dark"] .h2, [data-theme-version="dark"] h3, [data-theme-version="dark"] .h3, [data-theme-version="dark"] h4, [data-theme-version="dark"] .h4, [data-theme-version="dark"] h5, [data-theme-version="dark"] .h5, [data-theme-version="dark"] h6, [data-theme-version="dark"] .h6 {
    color: #fff;
}
[data-theme-version="dark"] .apexcharts-gridlines-horizontal line {
    stroke: #333a54;
}
[data-theme-version="dark"][data-headerbg="color_8"] ,
[data-theme-version="dark"][data-headerbg="color_1"] {
    --navlink-btn: #b3b3b3;
}
[data-theme-version="dark"] {
    --card: #212130;
    --text-dark: #fff;
    --dark: #fff;
    --text-gray: #ffffffb3;
    --text: #828690;
    --body-bg: #17171E;
    --light: #17171E;
    --white: #17171E;
    --border: #2e2e42;
    --bs-border-color: #333a54;
	--bs-heading-color: #3d4465;
    --headerbg: #212130;
    --nav-headbg: #212130;
    --sidebar-bg: #212130;
    --bs-dropdown-link-hover-bg: #17171E;
    --success-badge: #2adb7b;
    --placeholder: #fff;
}
[data-theme-version="dark"] .btn-link svg path {
    stroke: #fff !important;
}