
.nice-select:after {
    vertical-align: 0.255em;
    content: "";
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    display: inline-block;
    margin-left: 16px;
    border-width: 5px 5px 0px 5px;
    border-radius: 0.5rem;
    position: static;
    transform: rotate(0deg)
}
.nice-select {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    background-color: var(--card);
    border: solid 1px var(--border);
    border-radius: 8px;
}
.nice-select.open:after {
    transform: rotate(0deg);
}
.nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: var(--border);
}
.nice-select .option {
    padding: 0.5rem 1.25rem;
}
.nice-select:not(.switcher-select) .list {
    width: 100%;
    background-color: var(--card);
    box-shadow: 0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
}
[data-theme-version="dark"] .nice-select:not(.switcher-select) .list {
    box-shadow: 0rem 2rem 2.5rem 0rem rgba(0, 0, 0, 0.4);
}
.nice-select:not(.switcher-select) .option:hover {
    background-color: var(--body-bg);
    color: #888888;
}
.dataTables_length .nice-select {
    float: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 6px;
    padding-left: 15px;
    padding-right: 39px;
}
.dataTables_length .nice-select::after {
    right: 15px;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transform: rotate(0deg);
}
.nice-select.style-3 {
    display: inline-flex;
}
.Disabled.nice-select::after {
    display: none;
}
.nice-select.style-3::after {
    display: inline-block;
    right: 0.8em; 
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    margin-top: -2px;
}
.nice-select.style-3.open::after {
	transform: rotate(0);
}
.nice-select.style-1::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-bottom: 0;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    border-left: 4px solid transparent;
    font-size: 18px;
    border-radius: 0px;
}
.nice-select.style-2::after{
	border-bottom: 1.8px solid #a5a5a5 ;
	border-right: 1.8px solid #a5a5a5 ;
	left: 0px;
}
.nice-select.style-1.open .list {
	width: 100%;
}
.destroy-selector {
    width: 100%;
    border: 1px solid var(--border);
    padding: 10px;
    border-radius: 6px;
    color: var(--text);
    outline: none;
    background: var(--card);
}
/* Style the custom dropdown icon */
.img-select.nice-select .option ,
.img-select.nice-select .current {
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 36px;
}