
.card {
    margin-bottom: 1.875rem;
    background-color: var(--card);
    transition: all .5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 0.625rem;
    height: calc(100% - 30px);
    border: 1px solid transparent;
	box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    display: flex;
	flex-direction: column;
}
.chatbox .chatbox-close {
	position: absolute;
	transition: all 0.2s;
	width: 0;
	height: 100%;
	right: 21.25rem;
	background: #000;
	z-index: 1;
	opacity: 0.1;
	cursor: pointer;
}
.chatbox.active .chatbox-close {
	width: 100vw;
}
.chatbox.active {
	right: 0 !important;
}
.chatbox .contacts_body {
	height: calc(100vh - 200px);
}
.chatbox .contacts_body.style-1 {
    height: calc(100vh - 128px);
}
[data-theme-version="dark"] .chatbox .chat-list-header {
	background: var(--dark-card);
}
[data-theme-version="dark"] .chatbox .chat-list-header a {
	background: var(--rgba-primary-1);
}
.chatbox .msg_cotainer:after {
	content: "";
	position: absolute;
	left: -0.625rem;
	border-right: 0.625rem solid var(--primary);
	border-bottom: 0.625rem solid transparent;
	border-top: 0rem solid;
	top: 0;
}
.chatbox .msg_cotainer_send:after {
	content: "";
	position: absolute;
	right: -0.625rem;
	border-left: 0.625rem solid var(--body-bg);
	border-bottom: 0.625rem solid transparent;
	border-top: 0rem solid;
	top: 0;
}
[data-theme-version="dark"] .chatbox .msg_cotainer_send:after {
	border-left: 0.625rem solid var(--d-bg);
}
@media only screen and (max-width: 36rem){
	.chatbox .chatbox-close {
		right: 17.5rem;
	}
	.card{ 
		margin-bottom: 0.938rem;
		height: calc(100% - 0.938rem);
	}
}