
@media (min-width: 47.9375rem) {
	[data-sidebar-style="icon-hover"][data-layout="horizontal"] .header .header-content {
		padding: 1.875rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu li.mm-active > ul {
		display: none;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .header-info2 {
		justify-content: space-between;
		padding: 0.35rem .35rem 0.35rem 1rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .header-info2 .sidebar-info {
		padding-right: 2rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .header-info2 img {
		order: 1;
		margin: 0 !important;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .dlabnav .metismenu li.mm-active > ul {
		display: block;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .nav-header {
		width: 5.5rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .nav-header .brand-logo {
		padding-left: 1.5rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .nav-header .brand-logo .logo-abbr {
		display: block;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .nav-header .brand-logo .brand-title {
		display: none;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .nav-header .nav-control {
		display: none;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .header {
		padding-left: 5.5rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .header .header-content {
		padding-left: 2rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav {
		overflow: visible;
		position: absolute;
		left: -11rem;
		z-index: 4;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .nav-label {
		display: none;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .header-profile img {
		order: 1;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .header-profile .header-info {
		margin-left: 0 !important;
		padding-left: 0 !important;
		margin-right: 0.625rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li {
		padding: 0 1rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li:hover > a > a, [data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a {
		background: rgba(255,255,255,0.1);
		color: #fff;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li > a {
		display: flex;
		justify-content: space-between;
		padding: 0.85rem 1rem;
		margin: 0px;
		border-radius: 0.5rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li > a > svg, [data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li > a > i, [data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li > a .menu-icon {
		order: 1;
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
		padding-right: 0;
		height: auto;
		width: auto;
		line-height: 1;
   }
   [data-sidebarbg="color_1"][data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a i {
		color: var(--primary);
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu ul {
		border-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu ul:after {
		left: auto;
		right: 1.75rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu ul a {
		position: relative;
		padding-left: 1.3rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu ul a::before {
		left: 1.25rem;
		right: auto;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu .has-arrow::after {
		right: 4.4rem;
		opacity: 0;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .copyright, [data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .plus-box {
		display: none;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav.mm-show {
		display: none;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .nav-header {
		width: 16.5rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .nav-header .brand-logo {
		padding-left: 1.6rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .nav-header .brand-logo .brand-title {
		display: block;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .nav-header .brand-logo .color-title {
		display: none;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle.mm-show {
		display: block;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .dlabnav {
		left: 0;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .dlabnav .metismenu > li > a > i {
		opacity: 1;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .iconhover-toggle .dlabnav .metismenu .has-arrow:after {
		opacity: 1;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .content-body {
		margin-left: 5.2rem;
	}
	[data-sidebar-style="icon-hover"][data-layout="vertical"] .footer {
		padding-left: 5.28rem;
   }
    [data-sidebarbg="color_1"][data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li:hover > a > a:after,
    [data-sidebarbg="color_1"][data-sidebar-style="icon-hover"][data-layout="vertical"] .dlabnav .metismenu > li.mm-active > a:after {
		border-top-color: var(--primary);
		border-left-color: var(--primary);
	}
    [data-sidebar-style="modern"][data-layout="vertical"] .header {
        padding-left: 8.5rem;
    }
    [data-sidebar-style="modern"][data-layout="horizontal"] .header {
        padding-left: 17.5rem;    
    }
    [data-sidebar-style="modern"][data-layout="vertical"] .header .header-content {
        padding-left: 2rem;
    }
    [data-sidebar-style="modern"] .nav-header {
        width: 8.5rem;
   }
    [data-sidebar-style="modern"] .nav-header .brand-logo {
        justify-content: center;
		padding: 0 2rem;
   }
   [data-sidebar-style="modern"][data-layout="vertical"] .nav-header .brand-title {
        display: none;
    }
    [data-sidebar-style="modern"] .dlabnav {
       background:var(--sidebar-bg);
       
   }
    [data-sidebar-style="modern"] .dlabnav .header-profile {
        margin-bottom: 0.3125rem;
   }
   [data-sidebar-style="modern"] .dlabnav .header-info2 img {
    margin: 0 !important;
    }
    [data-sidebar-style="modern"] .dlabnav .header-profile > a.nav-link {
        display: block;
        text-align: center;
        margin: 0 -0.625rem 0.9375rem;
        padding: 0.9375rem 0.625rem;
        border-radius: 0.5rem;
   }
    [data-sidebar-style="modern"] .dlabnav .header-profile > a.nav-link img {
        margin-bottom: 0.3125rem;
   }
    [data-sidebar-style="modern"] .dlabnav .header-profile > a.nav-link .header-info {
        margin-left: 0 !important;
        text-align: center;
        display: none;
   }
    [data-sidebar-style="modern"] .dlabnav .header-profile > a.nav-link .header-info small {
        text-align: center !important;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li {
        text-align: center;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li > a {
        padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
        margin: 0.125rem 0;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li > a::after {
        display: none;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li > a:hover > a, [data-sidebar-style="modern"] .dlabnav .metismenu > li > a:focus > a, [data-sidebar-style="modern"] .dlabnav .metismenu > li > a:active > a, [data-sidebar-style="modern"] .dlabnav .metismenu > li > a.mm-active > a {
        background-color: var(--primary-dark);
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li:hover, [data-sidebar-style="modern"] .dlabnav .metismenu > li.mm-active {
        padding: 0;
   }
    [data-sidebarbg="color_1"][data-sidebar-style="modern"] .dlabnav .metismenu > li:hover > a, 
    [data-sidebarbg="color_1"][data-sidebar-style="modern"] .dlabnav .metismenu > li.mm-active > a {
        background: var(--rgba-primary-1);
        color: var(--primary);
   }
   [data-sidebarbg="color_8"][data-sidebar-style="modern"] .dlabnav .metismenu > li:hover > a , 
   [data-sidebarbg="color_8"][data-sidebar-style="modern"] .dlabnav .metismenu > li.mm-active > a {
        background: var(--rgba-primary-1);
        color: rgba(0, 0, 0, 0.6) !important;
   }
   [data-sidebarbg="color_1"][data-sidebar-style="modern"] .dlabnav .metismenu > li:hover > a i, 
   [data-sidebarbg="color_1"][data-sidebar-style="modern"] .dlabnav .metismenu > li.mm-active > a i {
        color: var(--primary);
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li:hover ul li a, [data-sidebar-style="modern"] .dlabnav .metismenu > li.mm-active ul li a {
        padding: 0.5rem 1rem;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li li {
        text-align: left;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu li a {
        padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
        font-size: 0.813rem;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu li ul:after {
        content: none;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu li > ul {
        height: auto !important;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu .nav-label {
        display: none;
   }
    [data-sidebar-style="modern"] .dlabnav .nav-label {
        display: none;
   }
    [data-sidebar-style="modern"] .dlabnav .nav-text {
        display: block;
        margin-top: 0.3125rem;
   }
    [data-sidebar-style="modern"] .dlabnav .plus-box, [data-sidebar-style="modern"] .dlabnav .copyright, [data-sidebar-style="modern"] .dlabnav .help-desk {
        display: none;
   }
    [data-sidebar-style="modern"] .dlabnav .sidebar-info {
        display: none !important;
   }
    [data-sidebar-style="modern"] .dlabnav .menu-title {
        display: none;
   }
    [data-sidebar-style="modern"] .footer {
        padding-left: 10.625rem;
   }
   
    [data-sidebar-style="modern"] .content-body {
        margin-left: 8.5rem;
   }
    [data-sidebar-style="modern"] .dlabnav .metismenu > li > a .menu-icon svg {
		margin-right:0;
		margin-bottom:.25rem;
	}
    [data-sidebar-style="modern"][data-layout="horizontal"] .dlabnav .metismenu li > a i {
        padding: 0;
        margin: 0;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav {
        width: 8.5rem;
        left: 0;
        z-index: 3;
   }
   [data-sidebar-style="modern"][data-layout="vertical"] .nav-control {
        display: none;
    }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .slimScrollDiv, [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .dlabnav-scroll {
        overflow: visible !important;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu {
        padding: 0.625rem 0.875rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu > li > a {
        padding: 1.375rem 0.6em 0.9375rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu > li > a i {
        padding: 0;
        height: auto;
        width: auto;
        margin: 0;
        line-height: 1;
        margin-bottom: 0.3125rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu > li > ul {
        display: none;
        padding: 1.875rem 0.9375rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu li {
        position: relative;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu li a {
        padding: 1.2rem 1rem .85rem;
        border-radius: 0.5rem;
        box-shadow: none;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu li a:before {
        content: none;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu li ul {
        position: absolute;
        left: 105%;
        top: 0;
        bottom: auto;
        background-color: var(--sidebar-bg);
        border: 0.0625rem solid var(--border);
        width: 12.5rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .metismenu li:hover > ul {
        display: block;
        left: 100%;
        padding: 1rem 0;
        margin-left: 0;
        border: 0;
        box-shadow: 0.3125rem 0.3125rem 1.875rem 0rem rgba(20, 0, 30, 0.10);
        border-radius: 0.5rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .nav-label {
        display: none;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .nav-text {
        display: block;
        margin-top: 0;
   }
    /* [data-sidebar-style="modern"][data-layout="vertical"] .dlabnav .header-profile2 {
        padding: 0 2.5rem;
   } */
   [data-sidebar-style="modern"] .dlabnav .header-profile2 > a.nav-link {
    text-align: center;
    display: block;
    }
    [data-sidebar-style="modern"] .dlabnav .header-info2 {
        display: inline-block !important;
        padding: .35rem;
    }
    [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .dlabnav, [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .nav-header {
        left: -10.625rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .header {
        padding-left: 0;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .content-body {
        margin-left: 0;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .nav-header {
        width: 18.563rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .header {
        padding-left: 18.563rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .footer, [data-sidebar-style="modern"][data-layout="horizontal"] .content-body {
        margin-left: 0;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .dlabnav .metismenu > li > a {
        padding: 1.2rem 1rem .85rem;
		border-radius: 0.5rem;
        margin: 0 0.125rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .dlabnav .metismenu > li > a .menu-icon {
		height:1.4rem;
	}
    [data-sidebar-style="modern"][data-layout="horizontal"] .dlabnav .metismenu > li > ul {
        top: 100%;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"][data-container="boxed"] .dlabnav .metismenu > li > a {
        padding: 0.8125rem 1.25rem;
   }
}