
/* Sidebar profile */
.nav-user {
	background: var(--primary);
	margin-bottom: 0.625rem;
	padding: 1.25rem 1.5625rem 15px;
}
.nav-user img {
	width: 2.1875rem;
	height: 2.1875rem;
}
.nav-user h5 {
	margin-left: 0.625rem;
	margin-bottom: 0.1875rem;
	color: #fff;
}
[data-sibebarbg="color_2"] .nav-user h5 {
	color: #fff;
}
.nav-user p {
	margin-left: 0.625rem;
	margin-bottom: 0.5rem;
	color: #afcff7;
}
.menu-toggle .nav-user {
	padding: 1.25rem 15px 15px;
}
.menu-toggle .nav-user img {
	width: 2.1875rem;
	height: 2.1875rem;
	margin-bottom: 0.625rem;
}
.menu-toggle .nav-user h5, .menu-toggle .nav-user p {
	display: none;
}
.menu-toggle .nav-user i {
	margin-top: 15px;
	display: block;
}
.menu-toggle .nav-user .dropdown-menu {
	left: 2.8125rem !important;
	top: 1.375rem !important;
}