
[data-nav-headerbg="color_1"][data-headerbg="color_1"][data-sidebar-style="modern"][data-layout="horizontal"] .nav-header .color-title {
    display: block !important;
}
[data-sidebar-style="overlay"][data-layout="vertical"] .dlabnav {
	border-radius: 0 0 0 0 !important;
}
[data-sidebar-style="overlay"][data-layout="vertical"] .nav-header {
	border-radius: 0;
}
[data-sidebar-style="overlay"] .dlabnav {
	left: -100%;
	transition: all 0.5s;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}
[data-sidebar-style="overlay"] .dlabnav .metismenu > li {
    padding: 0 0.5rem;
}
[data-sidebar-style="overlay"] .dlabnav .metismenu > li > a {
	padding: .75rem 1.5rem;
	border-radius: 0.5rem;
	transition: all 0.5s;
}
[data-sidebar-style="overlay"] .dlabnav .metismenu > li > a i {
	height: auto;
	width: auto;
	line-height: 1;
}
/* 
[data-sidebar-style="overlay"] .dlabnav .metismenu > li:hover > a i {
	color: var(--primary);
} */
[data-sidebarbg="color_1"][data-sidebar-style="overlay"] .dlabnav .metismenu > li.mm-active > a i {
	color: var(--primary);
}
[data-sidebar-style="overlay"] .dlabnav .metismenu > li.mm-active > a i {
	height: auto;
    width: auto;
    line-height: normal;
    margin-right: 1rem;
}
[data-sidebar-style="overlay"] .dlabnav .metismenu ul a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: relative;
	font-size: 0.813rem;
	padding-left: 3rem;
}
[data-sidebar-style="overlay"] .content-body {
	margin-left: 0;
}
[data-sidebar-style="overlay"] .nav-header {
	position: absolute;
}
[data-sidebar-style="overlay"] .nav-header .hamburger.is-active {
	left: 0;
}
[data-sidebar-style="overlay"] .nav-header .hamburger.is-active .line {
	background-color: var(--primary);
}
[data-sidebar-style="overlay"] .menu-toggle .nav-header {
	position: absolute;
	left: auto;
}
[data-sidebar-style="overlay"] .menu-toggle .dlabnav {
	left: 0;
	z-index: 3;  
}
[data-sidebar-style="overlay"] .footer {
	padding-left: 0;
}
[data-sidebar-style="overlay"][data-header-position="fixed"] .nav-header {
	position: fixed;
}
[data-sidebar-position="fixed"][data-header-position="fixed"] .nav-header {
	position: fixed;
}
[data-sidebar-style="overlay"][data-nav-headerbg="color_1"] .menu-toggle .nav-header .color-title {
	display: block !important;
}
[data-sidebar-style="overlay"] .out-footer {
	width: calc(100% - 9.125rem);
	margin-right: 7.375rem;
	margin-left: auto;
}
/* [data-sidebar-style="overlay"] .dlabnav .metismenu > li.mm-active > a {
	color: var(--primary);
    background-color: var(--rgba-primary-1);
} */
[data-sidebarbg="color_1"][data-sidebar-style="overlay"] .dlabnav .metismenu > li.mm-active > a:after {
    border-top-color: var(--primary);
    border-left-color: var(--primary);
}
[data-container="wide-boxed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"] .menu-toggle .dlabnav, [data-container="boxed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"] .menu-toggle .dlabnav {
    width: 16.5rem;
}
[data-container="wide-boxed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"] .dlabnav, [data-container="boxed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"] .dlabnav {
    position: fixed;
    left: auto;
    width: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}