
.dlabnav {
    width: 16.5rem;
    padding-bottom: 0;
    height: calc(100% - 4.5rem  );
    position: var(--dz-sidebar-pos);
    top: 4.5rem;
    padding-top: 0;
    z-index: 6;
    background-color: var(--sidebar-bg);
    transition: all .2s ease;
	box-shadow: 0rem 15px 1.875rem 0rem rgba(0, 0, 0, 0.02);
}
[data-sidebar-position="fixed"] {
	--dz-sidebar-pos : fixed;
}
.dlabnav .header-info2 {
    padding: 0.35rem 1rem 0.35rem 0.35rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    margin: 10px 15px 0;
}
.dlabnav .header-profile2 {
    display: var(--dz-side-profile);
}
.dlabnav .header-info2 span {
    color: #fff;
}
.dlabnav .header-info2 small ,
.dlabnav .header-info2 i {
    color: #fff;
}
.dlabnav .metismenu {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.dlabnav .metismenu  li {
    position: relative;
    display: flex;
    flex-direction: column;
}
.dlabnav .metismenu  li a{
	display: inline-block;
	position: relative;
	transition: all 0.5s;
}
.dlabnav .metismenu > li {
	display: flex;
    flex-direction: column;
}
.dlabnav .metismenu > li > a{
    font-weight: 500;
    display: inline-block;
    padding: .85rem 1.5rem;
    font-size: 0.9375rem;
    color: #ffffffd9;
    transition: 0.7s;
}
.dlabnav .metismenu > li > a i {
    color: #ffffffd9;
}
.dlabnav .metismenu > li a > i {
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    text-align: center;
    border-radius: 0.125rem;
    line-height: 1;
    margin-right: 16px;
    transition: 0.7s;
    height: auto;
    width: auto;
}
.dlabnav .metismenu > li > a .menu-icon {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: auto;
	width: auto;
	text-align: center;
	line-height: 1;
	border-radius: 0.125rem;
}
.dlabnav .metismenu > li > a .menu-icon svg {
	height: 100%;
	margin-right: 0.4125rem;
	margin-top: -0.0875rem;
}
.dlabnav .dlabnav-scroll {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.dlabnav .dlabnav-scroll .metismenu {
	display: flex;
	flex-direction: column;
}
.dlabnav .metismenu ul {
    transition: all .2s ease-in-out;
    position: relative;
    z-index: 1;
    padding: 0.5rem 0;
}
.dlabnav .metismenu ul a {
	font-size: 0.85rem;
	transition: all 0.5s;
	display: block;
	padding: .4rem 1rem .4rem 4rem;
    color: #ffffffcc;
}
.dlabnav .metismenu > li.mm-active > a:after {
    border-top: 0.3125rem solid #ffffffd9;
    border-left: 0.3125rem solid #ffffffd9;
    top: 44%;
	transform: rotate(-135deg) translateY(-50%);
}
.dlabnav .metismenu .has-arrow:after {
    border-top: 0.3125rem solid #ffffffd9;
    border-left: 0.3125rem solid #ffffffd9;
    border-bottom: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    right: 1.875rem;
    top: 48%;
    transform: rotate(-225deg) translateY(-50%);
}
.dlabnav .metismenu > li.mm-active .sub-menu > .mm-active > a {
	color : #fff;
}
.dlabnav .metismenu > li.mm-active .sub-menu > .mm-active > a:after {
	transform: rotate(-135deg) translateY(-50%);
}
[data-layout="horizontal"] .dlabnav .metismenu > li:hover > a:after, [data-layout="horizontal"] .dlabnav .metismenu > li.mm-active > a:after {
    border-left-color: #fff;
    border-top-color: #fff;
}
[data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li .has-arrow:after {
    right: 1.5rem;
}
.dlabnav .metismenu > li:hover > a ,
.dlabnav .metismenu > li.mm-active > a {
    color: #ffffffd9;
    box-shadow: none;
}
.dlabnav .metismenu > li.mm-active > a {
    background: rgba(255, 255, 255, 0.1);
}
.dlabnav .menu-icon svg path, 
.dlabnav .menu-icon svg ellipse, 
.dlabnav .menu-icon svg path, 
.dlabnav .menu-icon svg ellipse{
	stroke :#fff; 
}
.dlabnav .metismenu > li.mm-active > a .menu-icon svg path {
    stroke: #fff;
}
[data-sidebar-style="compact"] .header {
    width: 100%;
    padding-left: 10rem;
}
[data-sidebar-style="compact"] .header .header-content {
    padding-left: 2rem;
}
.copyright p {
    color: #fff;
}
.copyright {
    padding: 0 1rem;
    margin-top: 1.2rem;
}
.dlabnav .copyright {
    display: block;
    margin-bottom: 2rem;
}
.copyright p {
    font-size: 0.875rem;
    margin-bottom: 6px;
}
.copyright strong {
    display: block;
    font-size: 0.875rem;
    color: #fff;
}
.heart {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(../images/like.png);
    cursor: pointer;
    margin: -25px -15px;
}
.heart-blast {
    background-position: -1680px 0 !important;
    transition: background 1s steps(28);
}