
[data-sidebar-position="fixed"][data-layout="vertical"] .nav-header {
    position: fixed;
    border-top-left-radius: 0;
}
[data-sidebar-position="fixed"][data-layout="vertical"] .dlabnav {
    --dz-sidebar-pos : fixed;
}
[data-sidebar-position="fixed"][data-layout="vertical"] .dlabnav .dlabnav-scroll {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
[data-sidebar-style="full"][data-sidebar-position="fixed"][data-layout="vertical"] .menu-toggle .dlabnav {
    --dz-sidebar-pos : absolute;
}
[data-layout="vertical"] .nav-header {
    border-top-left-radius: 0;
}
[data-layout="vertical"] .dlabnav {
    border-bottom-left-radius: 0;
}
[data-sidebar-style="icon-hover"][data-layout="vertical"][data-container="wide-boxed"] .dlabnav, [data-sidebar-style="icon-hover"][data-layout="vertical"][data-container="boxed"] .dlabnav, [data-header-position="fixed"][data-sidebar-position="fixed"][data-sidebar-style="icon-hover"][data-layout="vertical"][data-container="wide-boxed"] .dlabnav, [data-header-position="fixed"][data-sidebar-position="fixed"][data-sidebar-style="icon-hover"][data-layout="vertical"][data-container="boxed"] .dlabnav, [data-sidebar-style="overlay"][data-layout="vertical"][data-container="wide-boxed"] .dlabnav, [data-sidebar-style="overlay"][data-layout="vertical"][data-container="boxed"] .dlabnav, [data-header-position="fixed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"][data-container="wide-boxed"] .dlabnav, [data-header-position="fixed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"][data-container="boxed"] .dlabnav {
    position: absolute;
}